<div class="content-wrapper-table">
  <div class="card border-dark mb-3">

    <div class="card-header">
      <div class="row">
        <div class="col-6">
          <i class="fa fa-envelope"></i> List an envelope for Hirer
        </div>
      </div>
    </div>

    <div class="card-body">
      <div class="form-group">

        <%= simple_form_for @masterlist do |f| %>
          <div class="col">
            <%= f.input :envelope_id, label_html: {class: 'col-2'}, input_html: {class: 'col-10'} %>
            <%= f.input :created_time, disabled: true, label_html: {class: 'col-2'}, input_html: {class: 'datepicker'} %>
            <%= f.input :recipient_email, label_html: {class: 'col-2'}, input_html: {class: 'col-10'} %>
            <%= f.input :status, label_html: {class: 'col-2'}, input_html: {class: 'col-10'} %>
            <%= f.input :recipient_type, disabled: true, label_html: {class: 'col-2'}, input_html: {class: 'col-10'} %>
            <%= f.input :completed_time, disabled: true, label_html: {class: 'col-2'}, input_html: {class: 'datepicker'} %>
            <%= f.input :declined_time, disabled: true, label_html: {class: 'col-2'}, input_html: {class: 'datepicker'} %>
            <%= f.input :declined_reason, disabled: true, label_html: {class: 'col-2'}, input_html: {class: 'col-10'}  %>
            <%= f.input :subject_title, label_html: {class: 'col-2'}, input_html: {class: 'col-10'} %>
            <%= f.input :auth_status, disabled: true, label_html: {class: 'col-2'}, input_html: {class: 'col-10'} %>
            <%= f.input :auth_timestamp, disabled: true, label_html: {class: 'col-2'}, input_html: {class: 'datepicker'} %>
            <%= f.input :delivered_date_time, disabled: true, label_html: {class: 'col-2'}, input_html: {class: 'datepicker'} %>
            <%= f.input :note, disabled: true, label_html: {class: 'col-2'}, input_html: {class: 'col-10'} %>
            <%= f.input :accesscode, label_html: {class: 'col-2'}, input_html: {class: 'col-10'} %>
            <%= f.input :recipient_status, disabled: true, label_html: {class: 'col-2'}, input_html: {class: 'col-10'} %>
            <%= f.input :rental, label_html: {class: 'col-2'}, input_html: {class: 'col-10'} %>
          </div>

          <div class="row top-buffer">
            <div class="col-1">
              <%= button_tag(type: "submit", class: 'btn btn-default') do %>
                Submit
              <% end %>
            </div>
            <div class="col-11">
              <span class="pull-right">
               <%= button_tag(:type => 'button', class: 'btn btn-default') do %>
                <% link_to 'Back', masterlists_path, class: 'link-to-text-color' %>
              <% end %>
              </span>
            </div>
          </div>
        <% end %>

      </div>
    </div>

  </div>
</div>