<input type="checkbox" id="myCheckbox" class="filled-in"/>
<label for="myCheckbox"></label>
<form action="#">
<table class="striped">
  <thead>
    <tr>
      <th></th>
      <th>envelope_id</th>
      <th>name</th>
      <th>void_reason</th>
    </tr>
  </thead>
  <tbody>
  <p id="checkBoxes">
    <%counter = 0 %>
    <% @voidenvelope.each do |f| %>

      <tr>
        <td><%= check_box_tag "to_void[#{ f.id }]", "active", false, class: 'filled-in' %>
          <%= label_tag "to_void[#{ f.id }]", "ID #{ f.id }"%></td>
        <td><%= f.envelope_id %> </td>
        <td><%= f.name %></td>
        <td><%= f.void_reason %></td>
        <td><%= link_to 'Edit', edit_voidenvelope_path(f) %></td>
        <td><%= link_to 'Delete', f, method: :delete %></td>
      </tr>
    <% counter += 1 %>
    <% end %>
  </p>
  </tbody>
</table>
</form>

<div class="fixed-action-btn">
  <%= link_to(new_voidenvelope_path, class: 'btn-floating btn-large') do %>
    <i class="large material-icons">add</i>
  <% end %>
</div>