<div class="row">
  <div class="col s8 offset-s2">
    <div class="card">
      <div class="card-content">
        <span class="card-title">List an envelope to create</span>
        <%= simple_form_for @newenvelope do |f| %>
          <%= f.input :name %>
          <%= f.input :rental %>
          <%= f.input :nric %>
          <%= f.input :email %>
          <%= f.input :mailing_address %>
          <%= f.input :driver_phone_no %>
          <%= f.text_field :birthday, class: 'datepicker', placeholder: 'Birthday' %>
          <%= f.text_field :pickup_date, class: 'datepicker', placeholder: 'Pickup date' %>
          <%= f.input :vehicle_make %>
          <%= f.input :vehicle_model %>
          <%= f.input :vehicle_colour %>
          <%= f.input :licence_plate %>
          <%= f.input :master_rate %>
          <%= f.input :weekly_rate %>
          <%= f.input :min_rental_period %>
          <%= f.input :deposit %>
          <%= f.input :payee_name %>
          <%= f.input :name_of_bank %>
          <%= f.input :bank_address %>
          <%= f.input :bank_account_no %>
          <%= f.input :bank_code %>
          <%= f.input :branch_code %>
          <%= f.input :swift_code %>
          <%= f.input :driver_licence_no %>
          <%= f.text_field :expiration_date, class: 'datepicker', placeholder: 'Expiration date' %>
          <%= f.input :driver_licence_class %>
          <%= f.input :emergency_name %>
          <%= f.input :emergency_nric %>
          <%= f.input :emergency_mailing_address %>
          <%= f.input :emergency_email %>
          <%= f.input :emergency_phone_no %>
          <%= f.text_field :emergency_birthday, class: 'datepicker', placeholder: 'Emergency birthday' %>
          <div class="card-action">
            <%= link_to 'back', :back %>
            <%= f.button :submit, class: 'right' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>