<%= form_tag(select_multiple_live_statuses_path, method: :post) do %>
  <div class="content-wrapper">
    <div class="card-header">
      <div class="row">
        <div class="col-11">
          <i class="fa fa-table"></i> Search Result
        </div>
        <div class="col-1">
          <span class="pull-right">
            <div class="fixed-action-btn">
              <%= button_tag(:type => 'button', class: 'btn btn-default') do %>
                <%= link_to(search_live_statuses_path, class: 'link-to-text-color') do %>
                  <i class="fa fa-fw fa-search"></i>Search
                <% end %>
              <% end %>
            </div>
          </span>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <div id=dataTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
          <div class="row top-buffer">
            <div class="col-sm-12">
              <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid"
                     aria-describedby="dataTable_info" style="width: 100%;">
                <thead>
                <tr>
                  <th class="check-box">
                    <input type="checkbox" id="selectall" class="filled-in"/><label for="selectall"></label></th>
                  <th>status</th>
                  <th>recipient_type</th>
                  <th>envelope_id</th>
                  <th>email</th>
                  <th>rental</th>
                  <th>name</th>
                  <th>nric</th>
                  <th>mailing_address</th>
                  <th>driver_phone_no</th>
                  <th>birthday</th>
                  <th>pickup_date</th>
                  <th>vehicle_make</th>
                  <th>vehicle_model</th>
                  <th>vehicle_colour</th>
                  <th>licence_plate</th>
                  <th>master_rate</th>
                  <th>weekly_rate</th>
                  <th>min_rental_period</th>
                  <th>deposit</th>
                  <th>accesscode</th>
                  <th>note</th>,
                </tr>
                </thead>
                <tbody>
                  <tr>
                    <% if @livestatus[0] == 'completed' %>
                      <td class="check-box"><%= check_box_tag "live_status[#{ @livestatus[2] },#{@livestatus[4] }]", "live_status[#{ @livestatus[2] },#{@livestatus[4] }]", false, class: 'filled-in' %>
                        <%= label_tag "live_status[#{ @livestatus[2] },#{@livestatus[4] }]", "" %></td>
                    <% else %>
                      <td></td>
                    <% end %>
                    <td><%= @livestatus[0] %></td>
                    <td><%= @livestatus[1] %></td>
                    <td><%= @livestatus[2] %></td>
                    <td><%= @livestatus[3] %></td>
                    <td><%= @livestatus[4] %></td>
                    <td><%= @livestatus[5] %></td>
                    <td><%= @livestatus[6] %></td>
                    <td><%= @livestatus[7] %></td>
                    <td><%= @livestatus[8] %></td>
                    <td><%= @livestatus[9] %></td>
                    <td><%= @livestatus[10] %></td>
                    <td><%= @livestatus[11] %></td>
                    <td><%= @livestatus[12] %></td>
                    <td><%= @livestatus[13] %></td>
                    <td><%= @livestatus[14] %></td>
                    <td><%= @livestatus[15] %></td>
                    <td><%= @livestatus[16] %></td>
                    <td><%= @livestatus[17] %></td>
                    <td><%= @livestatus[18] %></td>
                    <td><%= @livestatus[19] %></td>
                    <td class="note_class"><%= @livestatus[20] %></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="row top-buffer">
        <div class="col-3">
          <%= button_tag(name: 'commit', value: 'Download selected', type: "submit", class: 'btn btn-default') do %>
            <i class="fa fa-fw fa-file-pdf-o"></i> Download Selected
          <% end %>
        </div>
        <div class="col-9">
          <span class="pull-right">
           <%= button_tag(:type => 'button', class: 'btn btn-default') do %>
            <% link_to 'Back', search_live_statuses_path, class: 'link-to-text-color' %>
          <% end %>
          </span>
        </div>
      </div>
    </div>
  </div>
  </div>
<% end %>