<!DOCTYPE html>
<html>
<head>
  <title>Docusignapp</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
<nav>
  <div class="nav-wrapper">
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <% if user_signed_in? %>
        <li><%= link_to 'Dashboard', dashboard_index_path, class: 'waves-effect' %></li>
        <li><%= link_to 'Create', newenvelopes_path, class: 'waves-effect' %></li>
        <li><%= link_to 'Void', voidenvelopes_path, class: 'waves-effect' %></li>
        <li><%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'waves-effect' %></li>
      <% else %>
        <li><%= link_to 'Login', new_user_session_path %></li>
      <% end %>
    </ul>
  </div>
</nav>

<p class="notice"><%= notice %></p>
<div class="container">
  <%= yield %>
</div>
</body>
</html>

